.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card_offset {
  margin-top: -200px;
}
.frame {
  max-width: 730px;
  margin: auto;
  overflow: hidden;
}

.container:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 40vh;
  top: 0;
  background: #2c2e31;
  border-bottom: 1px solid rgba(0,0,0,.15);
  z-index: -1;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0;
  background: #f9f9f9;
  border-bottom: 1px solid rgba(0,0,0,.15);
  z-index: -1;
}

.card {
  position: relative;
  padding: 20px 0;
  width: 730px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 1px rgb(0 0 0 / 50%);
  overflow: hidden;
  text-align: center;
  z-index: 5;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card .user_photo {
  display: flex;
  position: relative;
  background: #fff;
  padding: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, .25)
}

.card .user_photo img {
  width: 150px;
  border-radius: 50%
}

.card .user_photo .refresh {
  position: absolute;
  bottom: -30px;
  left: 50%;
  padding: 10px 15px;
  color: #fff;
  background: rgba(0, 0, 0, .75);
  border-radius: 3px;
  text-decoration: none;
  opacity: 0;
  display: block;
  transform: translateX(-50%);
  transition: all .25s ease-out
}

.card .user_photo:hover .refresh {
  bottom: -20px;
  opacity: 1
}

.horizontal_center {
  position: relative;
  left: 50%;
  transform: translateX(-50%)
}

.card .user_title {
  color: #999;
  font-size: 18px;
  margin: 0
}

.card .user_value {
  color: #2c2e31;
  font-size: 38px;
  margin: 5px;
  text-transform: capitalize
}

.icons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 20px;
}

.card span {
  cursor: pointer;
}